*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  min-height: 100%; 
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 00.5s;
}
header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo{
  color: #000;
}
header .logo span{
  color: #ff0123;
}
header .navbar{
  position: relative;
  display: flex;
}
header .navbar li{
  list-style: none;
  margin-left: 83px
}
header .navbar li a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header .navbar li a:hover{
  color: #ff0123;
}
header.sticky .navbar li a{
  color: #000;
}
header.sticky .navbar li a:hover{
  color: #ff0123;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
.imgBg{
  position: relative;
  width: 50%;
  height: 100%;
}
.imgBg::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(225deg, #ff0123, #6195ED);
  z-index: 1;
  mix-blend-mode: screen;
}
.imgBg img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contentbox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}
.contentbox .formbox{
  width: 50%;
}
.contentbox .formbox h2{
  color: #607d8b;
  font-weight: 600;
  font-size: 1.5em;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid #ff0123;
  display: inline-block;
  letter-spacing: 1px;
}
.contentbox .formbox .inputbox{
  margin-bottom: 20px;
}
.contentbox .formbox .inputbox span{
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #607d8b;
  font-weight: 300;
  letter-spacing: 1px;
}
.contentbox .formbox .inputbox input{
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}
.contentbox .formbox .inputbox input[type="submit"]{
  background:#6195ED;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.contentbox .formbox .inputbox input[type="submit"]:hover{
  background: #ff0123;
  transition: 0.5s;
}
.contentbox .formbox .rememberme{
  margin-bottom: 10px;
  color: #607d8b;
  font-weight: 400;
  font-size: 14px;
}
.contentbox .formbox  .inputbox p{
  color: #607d8b;
}
.contentbox .formbox  .inputbox p u{
  color: #ff0123;
}
.contentbox .formbox  .inputbox p u:hover{
  cursor: pointer;
}
