*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  min-height: 1000px; 
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 00.5s;
}
header.sticky{
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo{
  color: #fff;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
}
header.sticky .logo{
  color: #000;
}
header .logo span{
  color: #ff0123;
}
header .navbar{
  position: relative;
  display: flex;
}
header .navbar li{
  list-style: none;
  margin-left: 83px;
}
header .navbar li a{
  text-decoration: none;
  color: #fff;
  font-weight: 300;
}
header .navbar li a:hover{
  color: #ff0123;
}
header.sticky .navbar li a{
  color: #000;
}
header.sticky .navbar li a:hover{
  color: #ff0123;
}
.banner{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/image/bghouse.jpg);
  background-size: cover;
}
.banner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.banner .content{
  max-width: 100%;
  text-align: center;
  z-index: 2;
}
.banner .content h2{
  font-size: 5em;
  color: #fff;
}
.banner .content p{
  font-size: 1em;
  color:#fff;
}
.banner .content span{
  color: #ff0123;
}
.banner .content p{
  padding: 1rem 0 2rem 0;
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 300;
  word-spacing: 2px;
}
.banner form{
  margin: auto;
  width: 50%;
  background: #fff;
  border-radius: 2rem;
  padding: 0.6rem 1rem;
  display: flex;
  justify-content: space-between;
}
.search-input{
  font-size: 1.1rem;
  width: 100%;
  outline: 0;
  margin-left: 10px;
  padding: 0.5rem 0;
  border: none; 
}
.search-input::placeholder{
  text-transform: capitalize;
}
.search-btn{
  width: 10%;
  font-size: 1.1rem;
  color: #6195ED;
  border: none;
  background: transparent;
  outline: 0;
  cursor: pointer;
}
.house{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
}
.house_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-top: 20px;
}
.housecard{
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "images" "text" "stats";

  border-radius: 18px;
  background: #fff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
}
.housecard-images{
  grid-area: images;
  background: url(../assets/image/oneimage.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.housecard-text{
  grid-area: text;
  margin-top: 25px;
}
.housecard-text span{
  color: #6195ED;
  font-size: 16px;
  margin: 25px;
}
.housecard-text p{
  color: #607d8b;
  font-size: 15px;
  font-weight: 300;
  margin: 25px;
}
.housecard-text h2{
  margin-top: 0px;
  font-size: 28px;
  margin: 25px;
}
.housecard-stats{
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #ff0123;
}
.housecard-stats .stat{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  color: #fff;
}
.housecard-stats .type{
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.housecard-stats .value{
  font-size: 22px;
  font-weight: 500;
}
.housecard:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}
.lawyer{
  background: rgba(0, 0, 0, 0.05);
  padding-top: 20px;
  padding-bottom: 20px;
}
.lawyer-heading{
  margin-top: 0px;
  font-size: 28px;
  margin: 25px;
  color: #000;
  text-align: center;
}

.lawyer-profiles{
  display: flex;
  justify-content: space-around;
  margin: 20px 80px;
}
.lawyer-profile{
  flex-basis: 260px;
  background: #fff;
  border-radius: 15px;
}
.lawyer-profile-img{
  height: 230px;
  width: 230px;
  margin-top: 10px;
  margin-left: 15px;   
  border-radius: 50%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}
.lawyer-profile:hover .lawyer-profile-img{
  filter: grayscale(0%);
}
.lawyer-username{
  margin-top: 10px;
  text-align: center;
  font-size: 35px;
}
.lawyer-profile h5{
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: #6195ED;
  text-align: center;
}
.lawyer-profile p{
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
}
.work-container{
  background: rgba(0, 0, 0, 0.05);;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.work-opps{
  margin: 10px auto;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	overflow: hidden;
	width: 900px;
}

.work-opps h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.work-opps h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.work-title {
	background-color: #6195ED;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.work-title a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}
.work-title a:hover{
  cursor: default;
}

.work-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.work-places {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.work-places-left {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.work-places-left::after {
	border-radius: 3px;
	background-color: #6195ED;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 66%;
}

.work-places-left-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.work-btn {
	background-color: #6195ED;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 5px;
	right: 20px;
	letter-spacing: 1px;
}
.work-btn:hover{
  background-color: #ff0123;
  transform: scale(1.05);
}
